<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://shinsina.github.io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://shinsina.github.io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://shinsina.github.io/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="https://shinsina.github.io/favicon.ico" />
  <link rel="stylesheet" href="../../../../../../season.css" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description"
    content="{{ .Standing.Season_Name }}: Season Summary for {{ .Standing.Season_Driver_Data.Display_Name }}" />
  <title>Stat 'N' Track: {{ .Standing.Season_Name }}: Season Summary for {{ .Standing.Season_Driver_Data.Display_Name }}
  </title>
</head>

<body class="bg-gray-900 text-white font-sans">
  <div class="text-center border-white border-2">
    <p class="block lg:text-5xl md:text-2xl sm:text-xl break-words text-center">
      Stat 'N' Track
    </p>
    <div class="block lg:text-3xl md:text-lg sm:text-md break-words text-center py-2">
      <a class="underline p-2" href="/Stat-N-Track/">Home</a>
    </div>
  </div>
  <div class="text-center py-4 border-x-2 border-b-2">
    <p><b>{{ .Standing.Season_Name }}: Season Summary for {{ .Standing.Season_Driver_Data.Display_Name }}</b></p>
    <div class="text-center row-span-1">
      {{ $summary_stats := generate_summary_stats . }}
      Overview
      <p>Points: {{ .Standing.Season_Driver_Data.Points }}</p>
      <p>Wins: {{ $summary_stats.Wins }}</p>
      <p>Average Start: {{ $summary_stats.Avg_Start }}</p>
      <p>Average Finish: {{ $summary_stats.Avg_Finish }}</p>
      <p>Division: {{ .Standing.Division }}</p>
      <p>Division Rank: {{ .Standing.Division_Rank }}</p>
      <p>Overall Rank: {{ .Standing.Overall_Rank }}</p>
      <p>Incidents: {{ $summary_stats.Incidents }}</p>
    </div>
  </div>
  <div class="grid grid-cols-1 pt-6 overflow-x-scroll">
    <table class="text-center col-span-1">
      <tr>
        {{ $display_keys := retrieve_keys_to_display }}
        {{ $retrieved_key_map := retrieve_key_map }}
        {{ $consolidated_subsession_results := handle_results $display_keys .Subsessions }}
        {{ $subsessions_length := len .Subsessions }}
        {{range $key_index, $key := $display_keys }}
        <th class="border-2">
          {{ return_key_label $retrieved_key_map $key }}
        </th>
        {{- end}}
      </tr>
      {{range $subsession_index, $consolidated_subsession_result :=
      $consolidated_subsession_results.Handled_Consolidated_Results}}
      <tr>
        {{range $key_index, $key := $consolidated_subsession_results.Keys }}
        <td
          class="border-2">
          {{if ne (return_value_at_key $consolidated_subsession_result "Subsession_ID") 0}}
          {{if eq $key "Subsession_ID"}}
          <a class="underline"
            href="/Stat-N-Track/subsession/{{return_value_at_key $consolidated_subsession_result $key}}">
            {{return_value_at_key $consolidated_subsession_result $key}}
          </a>
          {{ else }}
          {{return_value_at_key $consolidated_subsession_result $key}}
          {{ end }}
          {{ else if eq $key "Track" }}
          {{return_value_at_key $consolidated_subsession_result $key}}
          {{ end }}
        </td>
        {{end}}
      </tr>
      {{- end}}
    </table>
  </div>
</body>

</html>
