---
import type { Track } from '$lib/types';
interface Props {
  cornersPerLap: number,
  track: Track
}
const { cornersPerLap, track } = Astro.props;
const { track_name, config_name, category } = track;
---

<div class="text-center row-span-1">
  Track Facts:
  <p>Name: {track_name}</p>
  <p>Configuration: {config_name}</p>
  <p>Category: {category}</p>
  <p>Corners: {cornersPerLap}</p>
</div>
