<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://shinsina.github.io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://shinsina.github.io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://shinsina.github.io/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="https://shinsina.github.io/favicon.ico" />
  <link rel="stylesheet" href="{{ .Stylesheet_Path }}" />
  <!-- Alpine Plugins -->
  <script defer src="https://cdn.jsdelivr.net/npm/async-alpine@2.0.2/dist/async-alpine.script.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.14.9/dist/cdn.min.js"></script>
  <!-- Alpine Core -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/cdn.min.js"></script>
  <meta name="viewport" content="width=device-width" />
  <meta name="description"
    content="{{ .Description }}" />
  <title>Stat 'N' Track: {{ .Description }}</title>
</head>

<body class="bg-gray-900 text-white font-sans">
  <div class="text-center border-white border-2">
    <p class="block lg:text-5xl md:text-2xl sm:text-xl break-words text-center">
      Stat 'N' Track
    </p>
    <div class="block lg:text-3xl md:text-lg sm:text-md break-words text-center py-2">
      <a class="underline p-2" href="/Stat-N-Track/">Home</a>
      <a class="underline p-2" href="/Stat-N-Track/shared-subsessions">Shared Subsessions</a>
    </div>
  </div>
  <div class="grid grid-cols-1 pt-6 overflow-x-scroll">
    <table x-load x-load-src="{{ .Table_Component_Path }}" x-ref="Table" x-data="table"
      class="text-center col-span-1">
      <tr x-ref="Headings">
        {{ $display_keys := retrieve_keys_to_display }}
        {{ $retrieved_key_map := retrieve_key_map }}
        {{ $consolidated_subsession_results := handle_results $display_keys .Subsessions }}
        {{ $subsessions_length := len .Subsessions }}
        {{range $key_index, $key := $display_keys }}
        <th id="Table {{ $key }} {{ $subsessions_length }}" class="border-2" x-on:click="sort">
          {{ return_key_label $retrieved_key_map $key }}
        </th>
        {{- end}}
      </tr>
      {{range $subsession_index, $consolidated_subsession_result :=
      $consolidated_subsession_results.Handled_Consolidated_Results}}
      <tr x-ref="Table {{ $subsession_index }}">
        {{range $key_index, $key := $consolidated_subsession_results.Keys }}
        <td x-ref="Table {{ lowercase $key }} {{ $subsession_index }}"
          id="Table~{{ lowercase $key }}~{{ $subsession_index }}~{{return_value_at_key $consolidated_subsession_result $key}}"
          class="border-2">
          {{if eq $key "Subsession_ID"}}
          <a class="underline"
            href="/Stat-N-Track/subsession/{{return_value_at_key $consolidated_subsession_result $key}}">
            {{return_value_at_key $consolidated_subsession_result $key}}
          </a>
          {{ else }}
          {{return_value_at_key $consolidated_subsession_result $key}}
          {{ end }}
        </td>
        {{end}}
      </tr>
      {{- end}}
    </table>
  </div>
</body>

</html>
