<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://shinsina.github.io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://shinsina.github.io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://shinsina.github.io/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="https://shinsina.github.io/favicon.ico" />
  <link rel="stylesheet" href="../index.css" />
  <!-- Alpine Plugins -->
  <script defer src="https://cdn.jsdelivr.net/npm/async-alpine@2.0.2/dist/async-alpine.script.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.14.9/dist/cdn.min.js"></script>
  <!-- Alpine Core -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/cdn.min.js"></script>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Subsession information for subsession - {{ .Subsession_ID }}" />
  <title>Stat 'N' Track: Subsession - {{.Subsession_ID}}</title>
</head>

<body class="bg-gray-900 text-white font-sans">
  <div class="text-center border-white border-2">
    <p class="block lg:text-5xl md:text-2xl sm:text-xl break-words text-center">
      Stat 'N' Track
    </p>
    <div class="block lg:text-3xl md:text-lg sm:text-md break-words text-center py-2">
      <a class="underline p-2" href="/Stat-N-Track/">Home</a>
      <a class="underline p-2" href="/Stat-N-Track/shared-subsessions">Shared Subsessions</a>
    </div>
  </div>
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-6 border-x-2 md:border-r-0 md:border-l-2 pt-4">
      <div class="grid grid-cols-3">
        <div class="col-span-3">
          {{if .Series_Logo}}
          <div class="flex justify-center">
            <img src="https://images-static.iracing.com/img/logos/series/{{.Series_Logo}}" alt="Series Logo" width=300
              height=175 format="avif" loading="eager" />
          </div>
          {{end}}
          <div class="text-center py-4">
            <p><b>{{.Season_Name}}</b></p>
            <p><b>Week {{bump .Race_Week_Num}} of {{.Max_Weeks}}</b></p>
          </div>
        </div>
      </div>
      <div class="text-center pb-6">
        <p>Race Summary:</p>
        <p>Average Lap Time: {{convert_lap_time .Event_Average_Lap}}</p>
        <p>Laps Complete: {{.Event_Laps_Complete}}</p>
        <p>Number of Cautions: {{.Num_Cautions}} for {{.Num_Caution_Laps}} laps</p>
        <p>Lead Changes: {{.Num_Lead_Changes}}</p>
        <p>Strength of Field: {{.Event_Strength_Of_Field}}</p>
        <p>Started: {{convert_time .Start_Time}}</p>
        <p>Ended: {{convert_time .End_Time}}</p>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 border-x-2">
      <div class="text-center border-b-2">
        <p>Track Facts:</p>
        <p>Name: {{ .Track.Track_Name }}</p>
        <p>Configuration: {{ .Track.Config_Name }}</p>
        <p>Category: {{ .Track.Category }}</p>
        <p>Corners: {{ .Corners_Per_Lap }}</p>
      </div>
      <div class="text-center border-b-2">
        <p>License Information:</p>
        <p>License Category: {{ .License_Category }}</p>
        <div>
          {{ $allowed_licenses := filter_allowed_licenses .Allow_Licenses }}
          Allowed Licenses:
          {{- range $allowed_licenses }}
          <p>{{ . }}</p>
          {{- end}}
        </div>
      </div>
      <div class="text-center row-span-1">
        <p>Relevant IDs:</p>
        <p>license_category_id: {{ .License_Category_ID }}</p>
        <p>season_id: {{ .Season_ID }}</p>
        <p>series_id: {{ .Series_ID }}</p>
        <p>session_id: {{ .Session_ID }}</p>
        <p>subsession_id: {{ .Subsession_ID }}</p>
        <!-- Re-add car class IDs and car IDs to this list by paging over Session_Results and filtering uniques for each -->
      </div>
    </div>
  </div>
  <div x-load x-load-src="../alpine-components/tables.js" x-data="tables">
    <div class="grid grid-cols-{{ len .Session_Results }} text-center pb-6">
      <button id="PRACTICE QUALIFY HEAT RACE" x-on:click="toggle" class="border-2 bg-gray-700">
        Practice Table
      </button>
      <button id="QUALIFY PRACTICE HEAT RACE" x-on:click="toggle" class="border-2 bg-gray-700">
        Qualifying Table
      </button>
      {{ $session_results_length := len .Session_Results }}
      {{if eq $session_results_length 4}}
      <button id="HEAT PRACTICE QUALIFY RACE" x-on:click="toggle" class="border-2 bg-gray-700">
        Heat Table
      </button>
      {{end}}
      <button id="RACE PRACTICE QUALIFY HEAT" x-on:click="toggle" class="border-2 bg-gray-700">
        Race Table
      </button>
    </div>
    <div>
      <div x-cloak x-show="PRACTICE" x-transition:enter.duration.500ms x-transition:leave.duration.0ms>
        {{ $practice := find_session .Session_Results "PRACTICE" }}
        <div class="grid grid-cols-1">
          <table class="text-center col-span-1">
            <tr class="bg-gray-500">
              <th class="border-2">Session Type</th>
            </tr>
            <tr>
              <td class="border-2">{{ $practice.Simsession_Type_Name }}</td>
            </tr>
          </table>
        </div>
        {{ $display_keys := retrieve_keys_to_display .Car_Classes "PRACTICE" }}
        {{ $handled_results_output := handle_results $display_keys $practice.Results }}
        <div class="grid grid-cols-1 pt-6 overflow-x-scroll">
          <table x-load x-load-src="../alpine-components/practice-table.js" x-ref="Table" x-data="PRACTICE"
            class="text-center col-span-1">
            <tr x-ref="Headings">
              {{range $key_label_index, $key_label := retrieve_key_labels $handled_results_output.Keys }}
              {{$actual_key := or $key_label "cust_id"}}
              <th
                id="Table {{ return_key_value_at_index $handled_results_output.Keys $key_label_index }} {{ len $handled_results_output.Handled_Results }}"
                class="border-2" x-on:click="sort">{{ $actual_key }}</th>
              {{- end}}
            </tr>
            {{range $result_index, $result := $handled_results_output.Handled_Results}}
            <tr x-ref="Table {{ $result_index }}">
              {{range $key_index, $key := $handled_results_output.Keys }}
              <td x-ref="Table {{ $key }} {{ $result_index }}"
                id="{{ $practice.Simsession_Name}}~{{ $key }}~{{ $result_index }}~{{return_value_at_key $result $key}}"
                class="border-2">
                {{return_value_at_key $result $key}}
              </td>
              {{end}}
            </tr>
            {{end}}
          </table>
        </div>
      </div>
      <div x-cloak x-show="QUALIFY" x-transition:enter.duration.500ms x-transition:leave.duration.0ms>
        {{ $qualifying := find_session .Session_Results "QUALIFY" }}
        <div class="grid grid-cols-1">
          <table class="text-center col-span-1">
            <tr class="bg-gray-500">
              <th class="border-2">Session Type</th>
            </tr>
            <tr>
              <td class="border-2">{{ $qualifying.Simsession_Type_Name }}</td>
            </tr>
          </table>
        </div>
        {{ $display_keys := retrieve_keys_to_display .Car_Classes "QUALIFY" }}
        {{ $handled_results_output := handle_results $display_keys $qualifying.Results }}
        <div class="grid grid-cols-1 pt-6 overflow-x-scroll">
          <table x-load x-load-src="../alpine-components/qualifying-table.js" x-ref="Table" x-data="QUALIFY"
            class="text-center col-span-1">
            <tr x-ref="Headings">
              {{range $key_label_index, $key_label := retrieve_key_labels $handled_results_output.Keys }}
              {{$actual_key := or $key_label "cust_id"}}
              <th
                id="Table {{ return_key_value_at_index $handled_results_output.Keys $key_label_index }} {{ len $handled_results_output.Handled_Results }}"
                class="border-2" x-on:click="sort">{{ $actual_key }}</th>
              {{- end}}
            </tr>
            {{range $result_index, $result := $handled_results_output.Handled_Results}}
            <tr x-ref="Table {{ $result_index }}">
              {{range $key_index, $key := $handled_results_output.Keys }}
              <td x-ref="Table {{ $key }} {{ $result_index }}"
                id="{{ $qualifying.Simsession_Name}}~{{ $key }}~{{ $result_index }}~{{return_value_at_key $result $key}}"
                class="border-2">
                {{return_value_at_key $result $key}}
              </td>
              {{end}}
            </tr>
            {{end}}
          </table>
        </div>
      </div>
      <div x-cloak x-show="HEAT" x-transition:enter.duration.500ms x-transition:leave.duration.0ms>
        {{ $heat := find_session .Session_Results "HEAT" }}
        <div class="grid grid-cols-1">
          <table class="text-center col-span-1">
            <tr class="bg-gray-500">
              <th class="border-2">Session Type</th>
            </tr>
            <tr>
              <td class="border-2">{{ $heat.Simsession_Type_Name }}</td>
            </tr>
          </table>
        </div>
        {{ $display_keys := retrieve_keys_to_display .Car_Classes "HEAT" }}
        {{ $handled_results_output := handle_results $display_keys $heat.Results }}
        <div class="grid grid-cols-1 pt-6 overflow-x-scroll">
          <table x-load x-load-src="../alpine-components/heat-table.js" x-ref="Table" x-data="HEAT"
            class="text-center col-span-1">
            <tr x-ref="Headings">
              {{range $key_label_index, $key_label := retrieve_key_labels $handled_results_output.Keys }}
              {{$actual_key := or $key_label "cust_id"}}
              <th
                id="Table {{ return_key_value_at_index $handled_results_output.Keys $key_label_index }} {{ len $handled_results_output.Handled_Results }}"
                class="border-2" x-on:click="sort">{{ $actual_key }}</th>
              {{- end}}
            </tr>
            {{range $result_index, $result := $handled_results_output.Handled_Results}}
            <tr x-ref="Table {{ $result_index }}">
              {{range $key_index, $key := $handled_results_output.Keys }}
              <td x-ref="Table {{ $key }} {{ $result_index }}"
                id="{{ $heat.Simsession_Name}}~{{ $key }}~{{ $result_index }}~{{return_value_at_key $result $key}}"
                class="border-2">
                {{return_value_at_key $result $key}}
              </td>
              {{end}}
            </tr>
            {{end}}
          </table>
        </div>
      </div>
      <div x-cloak x-show="RACE" x-transition:enter.duration.500ms x-transition:leave.duration.0ms>
        {{ $race := find_session .Session_Results "RACE" }}
        <div class="grid grid-cols-1">
          <table class="text-center col-span-1">
            <tr class="bg-gray-500">
              <th class="border-2">Session Type</th>
            </tr>
            <tr>
              <td class="border-2">{{ $race.Simsession_Type_Name }}</td>
            </tr>
          </table>
        </div>
        {{ $display_keys := retrieve_keys_to_display .Car_Classes "RACE" }}
        {{ $handled_results_output := handle_results $display_keys $race.Results }}
        <div class="grid grid-cols-1 pt-6 overflow-x-scroll">
          <table x-load x-load-src="../alpine-components/race-table.js" x-ref="Table" x-data="RACE"
            class="text-center col-span-1">
            <tr x-ref="Headings">
              {{range $key_label_index, $key_label := retrieve_key_labels $handled_results_output.Keys }}
              {{$actual_key := or $key_label "cust_id"}}
              <th
                id="Table {{ return_key_value_at_index $handled_results_output.Keys $key_label_index }} {{ len $handled_results_output.Handled_Results }}"
                class="border-2" x-on:click="sort">{{ $actual_key }}</th>
              {{- end}}
            </tr>
            {{range $result_index, $result := $handled_results_output.Handled_Results}}
            <tr x-ref="Table {{ $result_index }}">
              {{range $key_index, $key := $handled_results_output.Keys }}
              <td x-ref="Table {{ $key }} {{ $result_index }}"
                id="{{ $race.Simsession_Name}}~{{ $key }}~{{ $result_index }}~{{return_value_at_key $result $key}}"
                class="border-2">
                {{return_value_at_key $result $key}}
              </td>
              {{end}}
            </tr>
            {{end}}
          </table>
        </div>
      </div>
    </div>
</body>

</html>
