---
import DefaultLayout from "$lib/layouts/default.astro";
const driverLinks = [
  { href: "/Stat-N-Track/user/182407/", label: "Antonio Estrada" },
  { href: "/Stat-N-Track/user/188056/", label: "Doug South" },
  { href: "/Stat-N-Track/user/251134/", label: "Kyle Klendworth" },
  { href: "/Stat-N-Track/user/300752/", label: "Jacob Collins" },
  { href: "/Stat-N-Track/user/589449/", label: "Bryan Campbell2" },
  { href: "/Stat-N-Track/user/714312/", label: "Sam Karasala" },
  { href: "/Stat-N-Track/user/746377/", label: "Ty Quila" },
  { href: "/Stat-N-Track/user/815162/", label: "Jack Glenzinski" },
];
---

<DefaultLayout>
  <div class="text-center text-3xl">
    {driverLinks.map((link) => (<div><a class="underline" href={link.href} >{link.label}</a></div>))}
	</div>
</DefaultLayout>
