---
import type { License } from '$lib/types/index';
const { licenses, licenseCategory } = Astro.props;
---

<div class="row-span-1">
  <p class="text-center">License Category: {licenseCategory}</p>
  <div class="text-center">
    Allowed Licenses:
    {
      licenses
        .filter((license: License) => (Math.ceil(license.min_license_level / license.license_group) === license.min_license_level / license.license_group))
        .map((license: License, index: number) => (<p>{license.group_name} {!index ? `${license.min_license_level / license.license_group}.00` : 'and above'}</p>))
    }
  </div>
</div>
