---
import type { License } from "$lib/types";
const { licenses, licenseCategory } = Astro.props;
const [allowedLicenseOne, allowLicenseTwo] = licenses || [];
const allowedLicenses = [allowedLicenseOne, allowLicenseTwo];
---

<div class="text-center border-b-2">
  <p>License Information:</p>
  <p>License Category: {licenseCategory}</p>
  <div>
    Allowed Licenses:
    {
      allowedLicenses.map((license: License, index: number) => (
        <p>
          {license.group_name}{" "}
          {!index
            ? `${license.min_license_level / license.license_group}.00`
            : "and above"}
        </p>
      ))
    }
  </div>
</div>
