---
const { title, description } = Astro.props;
const seoTitle = title ? `Stat 'n' Track: ${title}` : "Stat 'n' Track";
const seoDescription =
  description || "An iRacing planner and statistics analyzer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Stat-N-Track/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={seoDescription} />
    <title>{seoTitle}</title>
  </head>
  <body class="bg-gray-900 text-white font-sans">
    <div class="text-center border-white border-2">
      <p
        class="block lg:text-5xl md:text-2xl sm:text-xl break-words text-center"
      >
        Stat 'N' Track
      </p>
      <div
        class="block lg:text-3xl md:text-lg sm:text-md break-words text-center py-2"
      >
        <a class="underline" href="/Stat-N-Track/" rel="prefetch">Home</a>
        <a
          class="underline pl-2"
          href="/Stat-N-Track/user/300752"
          rel="prefetch">Jacob Collins</a
        >
        <a
          class="underline pl-2"
          href="/Stat-N-Track/user/815162"
          rel="prefetch">Jack Glenzinski</a
        >
        <a
          class="underline pl-2"
          href="/Stat-N-Track/shared-subsessions"
          rel="prefetch">Shared Subsessions</a
        >
      </div>
    </div>
    <slot />
  </body>
</html>
