---
  import { connectToDatabase } from "$lib/mongodb";
  import DefaultLayout from "$lib/layouts/default.astro";
  export function getStaticPaths() {
	  return [{ params: { id: 300752 } }, { params: { id: 815162 } }];
  }
  const { id } = Astro.params;
  const dbConnection = await connectToDatabase();
  const db = dbConnection.db;
  const collection = db.collection("subsessions");
  const years = await collection.distinct("season_year", { "session_results.2.results": { $elemMatch: { cust_id: Number(id) } } });
---


<DefaultLayout>
	<div class="text-center text-3xl">
    {years.map((year) => (<div><a href=`/Stat-N-Track/user/${id}/standings/by-year/${year}` rel="prefetch">{year}</a></div>))}
	</div>
</DefaultLayout>
